<p>This is the partial for view 1.</p>

<div ng-controller="View1Ctrl as vm" flex="" ng-cloak="" class="gridListdemoDynamicTiles">

  <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">

    <md-grid-tile ng-repeat="tile in vm.tiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
        <div layout="column">
          <md-icon md-svg-icon="{{tile.icon}}" ng-click="vm.setIndex($index)"></md-icon>
          <h3 style="text-align: center">{{tile.description[$index]}}</h3>
          <div ng-if="$index===0" ng-show="vm.showDetails() === 0">
            <p>{{ profile.name }}</p>
            <p> {{profile.about }}</p>
            <!-- <img src="http://i.imgur.com/Ap113GJ.png"> -->
          </div>

          <div ng-if="$index===1" ng-show="vm.showDetails() === 1">
            <p>{{ skillsArray }}</p>
          </div>

          <div ng-if="$index===2" ng-show="vm.showDetails() === 2">
            <p>{{ profile.name }}</p>
          </div>

          <div ng-if="$index===3" ng-show="vm.showDetails() === 3">
            <p>{{ educationArray }}</p>
          </div>

          <div ng-if="$index===4" ng-show="vm.showDetails() === 4">
            <p>{{ workArray }}</p>
          </div>
        </div>
    </md-grid-tile>


  </md-grid-list>

</div>
